<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>NotchSoGood</string>
	<key>CFBundleIdentifier</key>
	<string>com.notchsogood.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Notch So Good</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/deepshal99/notch-so-good/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>5vdUWlthEz9q9czlyFOINzMA4nELfpQfnrhzzClMjN8=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Notch So Good. All rights reserved.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.notchsogood.notification</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>notchsogood</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
